{
  "arrowParens": "always",
  "semi": false,
  "endOfLine": "auto",
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "tailwindConfig": "./tailwind.config.cjs",
  
  "plugins": ["prettier-plugin-tailwindcss"],
  "pluginSearchDirs": false
}
